.mainMap {
  height: 93vh;
  width: 100%;
}
.mainMenu {
  height: 7vh;
  width: 100%;
  bottom: 0;
}
.mainMenu button {
  margin: auto;
  width: 50%;
  height: 100%;
  border-radius: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
